@import '../App.module.scss';
@import '../index.module.scss';

#body {
  font-family: 'raleway', serif;
  background-color: $background;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 970px;
  margin: 0 auto;

  @include desktop__big {
    max-width: 720px;
  }

  @include md {
    padding: 0 15px;
  }
}

@keyframes fadeUpBanner {
  0% {
    transform: translateX(-30px) scale(0.7);
  }
  100% {
    transform: translate(0, 50%) scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(60px) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

.fadeUp {
  animation-name: fadeUp;
  -webkit-animation-name: fadeUp;
}

.blue {
  --main-color: #1f5694;
  --secondary-color: #ff5722;
}

.brown {
  --main-color: #5d4037;
  --secondary-color: #3f51b5;
}

.gray {
  --main-color: #616161;
  --secondary-color: #f44336;
}

.green {
  --main-color: #06a763;
  --secondary-color: #1976d2;
}

.pink {
  --main-color: #d81b60;
  --secondary-color: #9c27b0;
}

.purple {
  --main-color: #5f1a89;
  --secondary-color: #e61f63;
}

.red {
  --main-color: #e73a2e;
  --secondary-color: #ff8f00;
}

.teal {
  --main-color: #038175;
  --secondary-color: #9c27b0;
}

.white {
  --main-color: #06a763;
  --secondary-color: #1976d2;
}

//==========================TitleSection=======================
.title {
  margin-top: 68px;
  text-align: center;
  @include font-size(32);
  color: $dark;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .titleImg {
      padding: 5px;
      @extend .box__shadow;
    }

    span {
      font-weight: bolder;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
}

//===========================Card==========================

.card {
  position: relative;
  margin-top: -212px;

  &__wrap {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    background-color: var(--main-color);
    margin: 0 auto;
    @extend .box__shadow;

    @include md {
      margin-top: -180px;
    }
  }

  &__content {
    font-family: 'raleway__semiBold', sans-serif;
    color: white;
    padding: 55px 40px;

    @include md {
      margin: 0 auto;
      text-align: center;
      margin-top: 65px;
      padding: unset;
    }
  }

  &__name {
    text-shadow: rgb(0 0 0 / 29%) 2px 2px 4px;
    h4 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 900;
      @include font-size(32);
    }
    h6 {
      margin-top: 2px;
      font-size: 18px;
      @include desktop__big {
        max-width: 250px;
      }
      @include md {
        max-width: unset;
      }
    }
  }

  &__infos {
    margin-top: 30px;

    @include md {
      margin: 0 auto;
      margin-top: 20px;
      width: 100%;
      max-width: 240px;
    }

    .infos__list {
      list-style-type: none;

      ul {
        padding: 0;
        li {
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: 500;

          span {
            margin-left: 5px;

            a {
              text-decoration: none;
              color: white;
              padding-left: 4px;
            }
          }

          &:not(:first-child) {
            margin-top: 7px;
          }
        }
      }
    }
  }
  &__icon {
    margin-top: 16px;
    list-style-type: none;
    display: flex;

    @include md {
      margin-left: 25px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 13.5px;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      color: white;
      text-decoration: none;
      box-shadow: rgb(0 0 0 / 16%) 0px 2px 5px 0px, rgb(0 0 0 / 12%) 0px 2px 10px 0px;

      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
      }

      &:not(:first-child) {
        margin-left: 16px;

        @include md {
          margin-left: 12px;
        }
      }
    }
  }
}
.icon {
  &__fb {
    background-color: $fb;
  }

  &__tw {
    background-color: $twitter;

    i {
      font-size: 14px;
    }
  }

  &__gg {
    background-color: $google;

    i {
      font-size: 17px;
      margin-top: 10px !important;
    }
  }

  &__in {
    background-color: $linkedin;

    i {
      margin-top: 14px !important;
    }
  }

  &__wf {
    background-color: $wifi;

    i {
      font-size: 13px;
      margin-top: 13px !important;
      transform: rotate(45deg);
    }
  }
}
.triangle {
  position: absolute;
  top: 0;
  right: 300px;
  z-index: 2;
  background-color: var(--main-color);
  width: 100px;
  height: 400px;
  clip-path: polygon(0 0, 0% 100%, 98% 100%);

  @include md {
    display: none;
  }
}
.avatar {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  margin: 0;

  @include md {
    top: -22%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
}
.btn__plus {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 58.8%;
  z-index: 10;
  color: white;
  font-size: 25px;
  width: 55.5px;
  height: 55.5px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: 0.2s ease-in-out;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  @include desktop__big {
    left: 44%;
  }
  @include md {
    display: none;
  }
}

// ===========================Banner===========================

.banner {
  position: relative;
  width: 100%;
  height: 370px;

  .menu {
    position: fixed;
    left: -225px;
    width: 225px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
    background: var(--main-color);
    transition: all 0.3s ease;

    &__open {
      left: 0;
    }

    &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      background: #f5f5f5;
      width: 225px;
      height: 100%;
      overflow-y: auto;
      padding-top: 14px;

      a {
        .title__icon {
          margin-bottom: -5px;
        }
      }
    }

    .logo__flat {
      height: 200px;
      margin-top: -14px;
      background: var(--main-color);
      @include flex(center, center);

      img {
        width: 100%;
        padding: 30px 44px 44px 44px;
      }

      .img__responsive {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    a {
      cursor: pointer;
      margin-left: 30px;
      margin-right: 30px;
      color: #616161;
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none;

      &:hover,
      &:active {
        color: #1976d2;
      }
    }

    .title__icon {
      padding: 7px;
    }
  }

  #menuToggle {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -65px;
    display: block;
    text-align: center;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: var(--secondary-color);
    border: 1px solid rgba(93, 92, 92, 0.52);
    background: rgba(0, 0, 0, 0.06);
    transition: all 0.5s ease-in-out;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
      transition: all 0.5s ease-in-out;
    }

    .toggle__normal {
      font-size: 31px;

      .top__bar {
        position: absolute;
        left: 5px;
        top: -5px;
        transition: 0.3s;
      }

      .middle__bar {
        position: absolute;
        left: 5px;
        top: 3px;
        opacity: 1;
        transition: 0.8s;
      }

      .bottom__bar {
        position: absolute;
        left: 5px;
        top: 11px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: 0.8s;
      }

      .top__transform {
        -webkit-transform: rotate(45deg) !important;
        transform: rotate(45deg) translate(3px, 3px) !important;
        -webkit-transform-origin: 34% 56%;
        transform-origin: 34% 56%;
      }

      .middle__transform {
        opacity: 0 !important;
      }

      .bottom__transform {
        -webkit-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) translate(2px, -3px) !important;
        -webkit-transform-origin: 28% 43%;
        transform-origin: 28% 43%;
      }
    }
  }
}

//=============================Change Color===============================

.popOut {
  position: fixed;
  width: 188px;
  height: 191px;
  background-color: #ffffff;
  color: #212121;
  top: 200px;
  right: -188px;
  transition: 500ms transform ease-in-out, 0.5s right ease;
  z-index: 5;
  margin: 8px 0px;
  border-radius: 0px !important;

  @extend .box__shadow;

  &__open {
    right: 0;
  }

  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: -40px;
    width: 40px;
    font-size: 20px;
    border: 2px solid gainsboro;
    height: 40px;
    line-height: 2;
    background-color: white;
    color: #222527;
    cursor: pointer;

    &__icon {
      animation: circle 2s linear infinite;
    }
  }

  .colors {
    padding: 15px;

    p {
      margin: 0;
      color: #757575;
      line-height: 1.5;
    }

    ul {
      margin-top: 0px;
      margin-bottom: 10px;
      padding: 0;

      li {
        height: 30px;
        width: 30px;
        margin: 0 3px;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.4s;

        &:hover {
          transform: scale(1.2);
        }
      }

      .color1 {
        background: #1f5694;
      }

      .color2 {
        background: #038175;
      }

      .color3 {
        background: #616161;
      }

      .color4 {
        background: #06a763;
      }

      .color5 {
        background: #5f1a89;
      }

      .color6 {
        background: #5d4037;
      }

      .color7 {
        background: #e42444;
      }

      .color8 {
        background: #cf2b7e;
      }

      .color10 {
        background: #dde2e5;
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}

//============================Description=========================
.description {
  &__wrap {
    margin-top: 53px;
    background-color: #fff;
  }
  &__content {
    padding: 40px;
    color: $dark;
    @include font-size(15);
    text-align: center;
    line-height: 22px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 25px 0;

    @include sp {
      flex-direction: column;
    }

    a {
      background: var(--main-color);
      width: 180px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      @include font-size(14);
      letter-spacing: 0.5px;
      padding: 10px 0;
      text-decoration: none;
      border-radius: 2px;
      border: none;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

      &:hover {
        transition: 0.5 ease-in-out;
        box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
      }
      &:not(:first-child) {
        margin-left: 17px;
        @include sp {
          margin-left: 0;
          margin-top: 15px;
        }
      }
      &:active {
        box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
      }
    }
  }
}

//======================FolderTree==================================
.folderTree {
  position: relative;
  margin-top: 30px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__tree {
    position: absolute;
    height: 610px;
    top: 50px;
    left: 482px;
    width: 5px;
    background-color: var(--main-color);
    opacity: 0.4;

    @include desktop__big {
      height: 800px;
    }

    @include md {
      height: 1000px;
    }

    @include desktop__big {
      left: 354px;
    }

    @include md {
      left: 50%;
    }
    .tree__exp {
      height: 350px;
      top: unset;
      margin-top: 30px;

      @include desktop__big {
        height: 450px;
      }

      @include md {
        height: 600px;
      }
    }
  }
}
.btn__more {
  cursor: pointer;
  @include font-size(22);
  color: #19762d;
}

//==========================EduBox=============================
.eduBox {
  &__item {
    position: relative;
    display: inline-block;
    list-style-type: none;
    z-index: 1;

    &:not(:first-child) {
      margin-top: -75px;

      @include md {
        margin-top: 15px;
      }
    }
    &:last-child {
      margin-top: -95px;
    }

    .item__content {
      position: relative;
      display: inline-block;
    }

    .item__key {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      top: 2px;
      right: -90px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 900;
      border-radius: 50%;
      background-color: var(--main-color);
      color: white;
      text-shadow: 2px 2px 4px rgb(0 0 0 / 29%);

      .icon {
        font-size: 22px;
      }

      @include desktop__big {
        right: -67px;
      }

      @include md {
        right: 1.5%;
        top: 2%;
      }
    }
  }

  &__flip {
    list-style-type: none;
    transform: scale(-1);
    z-index: 0;

    .item__key {
      right: unset;
      left: -90px;

      @include desktop__big {
        left: -73px;
      }

      @include md {
        right: 1.5%;
        top: 2%;
        left: unset;
      }
    }

    .item__content {
      transform: scale(-1);
    }
    .eduBox__job {
      padding-right: 15px;

      &::after {
        right: unset;
        left: -40px;
        width: 40px;

        @include desktop__big {
          width: 25px;
          left: -30px;
        }

        @include md {
          display: none;
        }
      }
    }
  }
  &__job {
    color: $dark;
    width: 420px;
    background-color: #fff;
    padding: 28px 0 22px 20px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 30px;
    border-left: 5px solid var(--secondary-color);
    @extend .box__shadow;

    p {
      margin: 0;
    }

    @include desktop__big {
      width: 315px;
    }

    @include md {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: var(--main-color);
      opacity: 0.4;
      width: 40px;
      height: 4px;
      top: 25px;
      right: -40px;

      @include desktop__big {
        width: 22px;
        right: -22px;
      }

      @include md {
        display: none;
      }
    }

    .job {
      &__name {
        font-weight: 900;
        font-size: 20px;

        @include md {
          padding-right: 50px;
        }
      }
      &__subTitle {
        font-weight: 600;
        font-size: 16px;
      }
      &__time {
        font-weight: 600;
      }
      &__desc {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
  }
}
.item__more {
  cursor: pointer;
  display: none;
  outline: none;
  border: none;
  background-color: unset;
  font-size: 18px;
  color: var(--secondary-color);
}
.block {
  display: block;
}
