@import '../App.module.scss';
@import '../index.module.scss';

#body {
  font-family: 'raleway', serif;
  background-color: $background;
}

@keyframes fadeUpBanner {
  0% {
    transform: translateX(-30px) scale(0.7);
  }
  100% {
    transform: translate(0, 50%) scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(60px) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

.fadeUp {
  animation-name: fadeUp;
  -webkit-animation-name: fadeUp;
}

.blue {
  --main-color: #1f5694;
  --secondary-color: #ff5722;
}

.brown {
  --main-color: #5d4037;
  --secondary-color: #3f51b5;
}

.gray {
  --main-color: #616161;
  --secondary-color: #f44336;
}

.green {
  --main-color: #06a763;
  --secondary-color: #1976d2;
}

.pink {
  --main-color: #d81b60;
  --secondary-color: #9c27b0;
}

.purple {
  --main-color: #5f1a89;
  --secondary-color: #e61f63;
}

.red {
  --main-color: #e73a2e;
  --secondary-color: #ff8f00;
}

.teal {
  --main-color: #038175;
  --secondary-color: #9c27b0;
}

.white {
  --main-color: #06a763;
  --secondary-color: #1976d2;
}
//=============================Change Color===============================

.popOut {
  position: fixed;
  width: 188px;
  height: 191px;
  background-color: #ffffff;
  color: #212121;
  top: 200px;
  right: -188px;
  transition: 500ms transform ease-in-out, 0.5s right ease;
  z-index: 5;
  margin: 8px 0px;
  border-radius: 0px !important;

  @extend .box__shadow;

  &__open {
    right: 0;
  }

  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: -40px;
    width: 40px;
    font-size: 20px;
    border: 2px solid gainsboro;
    height: 40px;
    line-height: 2;
    background-color: white;
    color: #222527;
    cursor: pointer;

    &__icon {
      animation: circle 2s linear infinite;
    }
  }

  .colors {
    padding: 15px;

    p {
      margin: 0;
      color: #757575;
      line-height: 1.5;
    }

    ul {
      margin-top: 0px;
      margin-bottom: 10px;
      padding: 0;

      li {
        height: 30px;
        width: 30px;
        margin: 0 3px;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.4s;

        &:hover {
          transform: scale(1.2);
        }
      }

      .color1 {
        background: #1f5694;
      }

      .color2 {
        background: #038175;
      }

      .color3 {
        background: #616161;
      }

      .color4 {
        background: #06a763;
      }

      .color5 {
        background: #5f1a89;
      }

      .color6 {
        background: #5d4037;
      }

      .color7 {
        background: #e42444;
      }

      .color8 {
        background: #cf2b7e;
      }

      .color10 {
        background: #dde2e5;
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}
//======================FolderTree==================================
.folderTree {
  position: relative;
  margin-top: 30px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__edu {
    position: absolute;
    height: 610px;
    top: 50px;
    left: 482px;
    width: 5px;
    background-color: var(--main-color);
    opacity: 0.4;

    @include desktop__big {
      height: 800px;
    }

    @include md {
      height: 1000px;
    }

    @include desktop__big {
      left: 354px;
    }

    @include md {
      left: 50%;
    }
  }

  &__exp {
    position: absolute;
    height: 350px;
    left: 482px;
    width: 5px;
    background-color: var(--main-color);
    opacity: 0.4;
    top: unset;
    margin-top: 30px;

    @include desktop__big {
      height: 450px;
    }

    @include md {
      height: 600px;
    }
  }
}
.btn__more {
  cursor: pointer;
  @include font-size(22);
  color: #19762d;
}

//==========================EduBox=============================
.eduBox {
  &__item {
    position: relative;
    display: inline-block;
    list-style-type: none;
    z-index: 1;

    &:not(:first-child) {
      margin-top: -75px;

      @include md {
        margin-top: 15px;
      }
    }
    &:last-child {
      margin-top: -95px;
    }

    .item__content {
      position: relative;
      display: inline-block;
    }

    .item__key {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      top: 2px;
      right: -90px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 900;
      border-radius: 50%;
      background-color: var(--main-color);
      color: white;
      text-shadow: 2px 2px 4px rgb(0 0 0 / 29%);

      .icon {
        font-size: 22px;
      }

      @include desktop__big {
        right: -67px;
      }

      @include md {
        right: 1.5%;
        top: 2%;
      }
    }
  }

  &__flip {
    list-style-type: none;
    transform: scale(-1);
    z-index: 0;

    .item__key {
      right: unset;
      left: -90px;

      @include desktop__big {
        left: -73px;
      }

      @include md {
        right: 1.5%;
        top: 2%;
        left: unset;
      }
    }

    .item__content {
      transform: scale(-1);
    }
    .eduBox__job {
      padding-right: 15px;

      &::after {
        right: unset;
        left: -40px;
        width: 40px;

        @include desktop__big {
          width: 25px;
          left: -30px;
        }

        @include md {
          display: none;
        }
      }
    }
  }
  &__job {
    color: $dark;
    width: 420px;
    background-color: #fff;
    padding: 28px 0 22px 20px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 30px;
    border-left: 5px solid var(--secondary-color);
    @extend .box__shadow;

    p {
      margin: 0;
    }

    @include desktop__big {
      width: 315px;
    }

    @include md {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: var(--main-color);
      opacity: 0.4;
      width: 40px;
      height: 4px;
      top: 25px;
      right: -40px;

      @include desktop__big {
        width: 22px;
        right: -22px;
      }

      @include md {
        display: none;
      }
    }

    .job {
      &__name {
        font-weight: 900;
        font-size: 20px;

        @include md {
          padding-right: 50px;
        }
      }
      &__subTitle {
        font-weight: 600;
        font-size: 16px;
      }
      &__time {
        font-weight: 600;
      }
      &__desc {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
  }
}
.item__more {
  cursor: pointer;
  display: none;
  outline: none;
  border: none;
  background-color: unset;
  font-size: 18px;
  color: var(--secondary-color);
}
.block {
  display: block;
}
//================MoreInfo at Education======================

.modal {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2000;

  &.active {
    display: block;
  }

  @include md {
    padding: 10px;
  }
}

.unActive {
  display: none;
}
.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  padding: 20px 40px 40px 40px;
  color: $words;
  box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
  width: 100%;
  max-width: 900px;
  animation: fadeScroll 0.4s linear;

  figure {
    width: 100%;
    margin: 0;
    max-width: 900px;
    img {
      width: 100%;
    }
  }

  @include desktop__big {
    max-width: 600px;
  }

  @include md {
    max-width: 100%;
    margin: 0;
  }
}
.modal__block {
  display: block;
}

.modal__none {
  display: none;
}
.more__title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

.more__time {
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.more__description {
  font-size: 15px;
  line-height: 22px;
}
.more__close {
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 10px;

  &:hover {
    color: var(--secondary-color);
  }
}
//=====================Pricing=========================
.pricing {
  font-family: 'mulish';
  &__wrap {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
    max-width: 303px;
    transition: transform 0.5s;
    @extend .box__shadow;

    @include md {
      max-width: unset;
    }

    &:hover {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
      box-shadow: 0 20px 30px 0 rgb(0 0 0 / 16%), 0 10px 15px 0 rgb(0 0 0 / 12%);
    }

    .item__top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      height: 210px;
      background-color: var(--main-color);

      .price {
        position: relative;
        .price__text {
          span:first-child {
            position: absolute;
            top: 5px;
            font-size: 30px;
          }
          span:nth-child(2) {
            font-size: 54px;
            margin-left: 20px;
          }
          span:last-child {
            font-size: 20px;
          }
        }
      }

      .level {
        background-color: unset;
        text-transform: uppercase;
        @include font-size(14);
        display: inline-block;
        border: 1px solid white;
        padding: 5px 10px;
        margin-top: 40px;
      }
    }
    .item__bottom {
      background-color: #fff;
      color: $dark;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .item__benefit {
      text-align: center;
      margin: 22px auto;

      div:not(:first-child) {
        margin-top: 15px;
      }
    }
    .item__button {
      display: flex;
      justify-content: center;
      width: 100%;
      border-top: 1px solid #ccc;
      button {
        margin: 22px 0;
      }
    }
  }

  .item__button {
    button {
      text-transform: uppercase;
      padding: 10px 13px;
      @include font-size(14);
      background-color: var(--main-color);
      color: white;
      border-radius: 2px;
      border: none;
    }
  }
}

//==========================Testimonial==========================
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  user-select: none;
  border-radius: 0;
  @extend .box__shadow;

  &-active {
    width: 10px;
    height: 10px;
    background-color: $linkedin;
  }
}

.testimonial {
  &__wrap {
    margin-top: 35px;
    background-color: var(--main-color);
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 60px;

    &__image {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      overflow: hidden;
    }

    &__content {
      font-size: 15px;
      color: white;
      margin-bottom: 30px;

      p {
        margin-top: 25px;
        line-height: 22px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 75px;
    @extend .box__shadow;

    .slide {
      width: 110px;
      height: 110px;
      cursor: pointer;
      opacity: 0.8;
      height: auto;

      &:hover {
        opacity: 1;
      }
    }
  }
}
//=========================Contact============================
.contact__wrap {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  @include desktop__big {
    grid-template-columns: 1fr;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    .input__field {
      position: relative;
      width: 100%;

      &.active {
        .label {
          top: 0;
          font-size: 14px;
        }
      }

      &:focus-within {
        .input {
          border-bottom: 2px solid var(--secondary-color);
          outline: none;
        }

        .label {
          top: 0;
          color: var(--secondary-color);
          font-size: 14px;
        }
      }

      .label {
        pointer-events: none;
        color: #9e9e9e;
        position: absolute;
        top: 40%;
        transition: 0.3s;
        text-transform: capitalize;
      }
      .input {
        border: none;
        border-bottom: 1px solid gainsboro;
        font-size: 16px;
        height: 24px;
        margin: 10px 0;
        width: 100%;
        transition: 0.5s;

        &.textarea {
          height: auto;
        }
      }
    }

    .form__button {
      background-color: var(--main-color);
      width: 115px;
      color: #fff;
      border-radius: 2px;
      padding: 7px 15px;
      margin-top: 7px;
      text-transform: uppercase;
      font-size: 16px;
      border: none;
      opacity: 0.9;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.5s;

      &:hover {
        opacity: 1;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .google__map {
    width: 550px;
    height: 415px;

    @include desktop__big {
      margin-top: 15px;
      width: 100%;
    }
  }

  .active {
    top: 0;
  }
}

.producer {
  text-align: center;
  margin: 20px auto;
  color: $words;

  a {
    text-decoration: none;
    color: $linkedin;
    font-weight: bold;
    font-size: 15px;
  }
}
//================================Portfolio===================================
.lightBox {
  figure {
    cursor: pointer;
  }
  &__visible {
    cursor: pointer;
    display: block;
  }

  .hidden {
    display: none;
  }

  .visible {
    height: 100%;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .btn {
      display: inline-block;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: unset;
      margin-bottom: 20px;
      color: $words;
      font-size: 15px;
      text-transform: uppercase;
      padding: 10px 15px;

      @include custom__sp {
        font-size: 14px;
        padding: 9px 14px;
      }
      &.active {
        border-bottom: 5px solid var(--secondary-color);
      }

      &:hover {
        background-color: rgb(241, 238, 238);
        border-radius: 3px;
        color: $words;
      }
    }
  }

  &__visible {
    margin: 0 auto;
    margin-top: 5px;
    color: var(--secondary-color);
    font-size: 24px;
    padding: 13px 30px;
    border: none;
    outline: none;
    background-color: inherit;
    @extend .box__shadow;
    transition: all 0.3s ease-out 0s, transform 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
      opacity 1.1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

    &:hover {
      box-shadow: rgb(0 0 0 / 18%) 0px 5px 11px 0px, rgb(0 0 0 / 15%) 0px 4px 15px 0px;
    }
  }
}

//=====================LogoTab=======================
.logoSlide__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-column: 15px;

  @include desktop__big {
    grid-template-columns: repeat(2, 1fr);
  }

  @include custom__sp {
    grid-template-columns: 1fr;
  }

  .item {
    overflow: hidden;
    @extend .box__shadow;
    width: 100%;
    height: 100%;
    max-height: 316px;

    @include custom__sp {
      max-height: unset;
    }

    &:first-child {
      grid-column: 1/3;
      grid-row: 1/3;
      height: 100%;
      max-height: 643px;

      figcaption {
        .item__description {
          bottom: 17%;
        }
        .text__center {
          margin-top: 0;
        }
      }

      @include md {
        grid-column: unset;
        grid-row: unset;
      }

      @extend .inLeft;
    }

    &:not(:first-child) {
      figure {
        img {
          width: 100%;
          max-width: 316px;
          height: 100%;
          max-height: 316px;
        }
      }
      @extend .inRight;
    }

    figure {
      margin: 0;
      position: relative;
      transition: 0.3s ease-in-out;
      padding: 2px;

      img {
        opacity: 0.8;
      }

      &:hover {
        transform: scale(1.19);
      }

      figcaption {
        color: var(--secondary-color);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: opacity 0.5s, transform 0.35s;
        opacity: 0;

        .text__center {
          margin-top: 80px;
          transition: transform 0.35s ease 0s, color 0.35s ease 0s;
          transform: translate3d(0px, -50%, 0px);

          span:last-child {
            font-weight: bold;
          }
        }

        .item__description {
          color: white;
          position: absolute;
          bottom: 10%;
          font-size: 10px;
          font-weight: bold;
          width: 100%;
          padding: 0 40px;
          transition: opacity 0.6s, transform 0.6s;
          transform: scale(0);
          opacity: 0;
        }

        .text__icon {
          font-size: 40px;
          margin: 0;
        }

        &:hover {
          opacity: 1;
          .text__center {
            transform: translate3d(0px, -50%, 0px) translate3d(0px, -40px, 0px);
            transition: 0.3s ease-in-out;
            opacity: 1;
          }
          .item__description {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}
//===============DribbleTab=====================

.dribbleSlide__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-column: 15px;

  @include desktop__big {
    grid-template-columns: repeat(2, 1fr);
  }

  @include custom__sp {
    grid-template-columns: 1fr;
  }

  .item {
    overflow: hidden;
    @extend .box__shadow;
    height: 100%;
    max-height: 316px;

    @include custom__sp {
      max-height: unset;
    }
  }

  .item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    max-height: 643px;

    @extend .inRight;

    @include md {
      grid-column: unset;
      grid-row: unset;
    }
  }

  .item:not(:first-child) {
    figure {
      img {
        width: 100%;
        max-width: 316px;
        height: 100%;
        max-height: 316px;
      }
    }
    @extend .inLeft;
  }

  figure {
    margin: 0;
    position: relative;
    transition: 0.3s ease-in-out;
    padding: 2px;

    img {
      opacity: 0.8;
    }

    &:hover {
      transform: scale(1.19);
    }

    figcaption {
      color: var(--secondary-color);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      transition: opacity 0.5s, transform 0.35s;
      opacity: 0;

      .text__center {
        transition: transform 0.35s ease 0s, color 0.35s ease 0s;
        transform: translate3d(0px, -50%, 0px);

        span:last-child {
          font-weight: bold;
        }
      }

      &:hover {
        opacity: 1;
        .text__center {
          transform: translate3d(0px, -50%, 0px) translate3d(0px, -40px, 0px);
          transition: 0.3s ease-in-out;
          opacity: 1;
        }
      }

      .item__description {
        color: white;
        position: absolute;
        bottom: 12%;
        font-size: 10px;
        font-weight: bold;
        width: 100%;
        padding: 0 40px;
      }

      .text__icon {
        font-size: 40px;
        margin-top: 100px;
      }
    }
  }
}
//===================WebsiteTab======================
.websiteSlideShow__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-column: 15px;

  @include desktop__big {
    grid-template-columns: repeat(2, 1fr);
  }

  @include custom__sp {
    grid-template-columns: 1fr;
  }

  .item {
    overflow: hidden;
    @extend .box__shadow;
    height: 100%;
    max-height: 316px;
    figure {
      img {
        width: 100%;
        max-width: 316px;
        height: 100%;
        max-height: 316px;
      }
    }
    @extend .inRight;

    &:first-child,
    &:nth-child(4),
    &:last-child {
      @extend .inLeft;
    }

    @include custom__sp {
      max-height: unset;
    }

    figure {
      margin: 0;
      position: relative;
      transition: 0.3s ease-in-out;
      padding: 2px;

      img {
        opacity: 0.8;
      }

      &:hover {
        transform: scale(1.19);
      }

      figcaption {
        color: var(--secondary-color);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: opacity 0.5s, transform 0.35s;
        opacity: 0;

        .text__center {
          margin-top: 40px;
          transition: transform 0.35s ease 0s, color 0.35s ease 0s;
          transform: translate3d(0px, -50%, 0px);

          span:last-child {
            font-weight: bold;
          }
        }

        &:hover {
          opacity: 1;
          .text__center {
            transform: translate3d(0px, -50%, 0px) translate3d(0px, -40px, 0px);
            transition: 0.3s ease-in-out;
            opacity: 1;
          }
        }

        .item__description {
          color: white;
          position: absolute;
          bottom: 12%;
          font-size: 10px;
          font-weight: bold;
          width: 100%;
          padding: 0 40px;
        }
      }
    }
  }
}
//======================AllTab========================
.allTab__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-column: 15px;

  @include desktop__big {
    grid-template-columns: repeat(2, 1fr);
  }

  @include custom__sp {
    grid-template-columns: 1fr;
  }

  .item {
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height: 100%;
    @extend .box__shadow;
    @extend .inRight;

    @include custom__sp {
      max-height: 470px;
    }

    &:first-child {
      grid-column: 1/3;
      grid-row: 1/3;
      height: 100%;
      max-height: 643px;

      @include md {
        grid-column: unset;
        grid-row: unset;
        max-height: 317px;
      }

      @include custom__sp {
        max-height: 470px;
      }
    }

    &:nth-child(4) {
      height: 100%;
      max-height: 643px;
      grid-row: 3/5;
      grid-column: 1/3;

      @include desktop__big {
        grid-row: 4/6;
      }

      @include md {
        grid-column: unset;
        grid-row: unset;
        max-height: 317px;
      }

      @include custom__sp {
        max-height: 470px;
      }
    }

    &:first-child,
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(10),
    &:nth-child(12) {
      @extend .inLeft;
    }
  }

  figure {
    position: relative;
    transition: 0.3s ease-in-out;
    padding: 2px;

    img {
      width: 100%;
      height: 100%;
      max-width: 316px;
      max-height: 316px;
    }

    &:hover {
      transform: scale(1.19);
    }

    figcaption {
      color: var(--secondary-color);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transition: opacity 0.5s, transform 0.35s;
      opacity: 0;

      .text__center {
        transition: transform 0.35s ease 0s, color 0.35s ease 0s;
        transform: translate3d(0px, -50%, 0px);
      }

      &:hover {
        opacity: 1;
        .text__center {
          transform: translate3d(0px, -50%, 0px) translate3d(0px, -40px, 0px);
          transition: 0.3s ease-in-out;
          opacity: 1;
        }
      }

      .item__description {
        color: white;
        position: absolute;
        bottom: 12%;
        font-size: 10px;
        font-weight: bold;
        width: 100%;
        padding: 0 40px;
      }

      .text__icon {
        font-size: 40px;
        margin-top: 100px;
      }
    }
  }
}

.inLeft {
  -webkit-animation-name: InLeft;
  animation-name: InLeft;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.inRight {
  -webkit-animation-name: InRight;
  animation-name: InRight;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes InRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes InLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
